<form class="form-horizontal form-bordered" id="a" method="post">
    <div class="control-group">
        <div class="controls">
            <input class="input-xlarge" data-val="true" data-val-required="true" id="string333" name="string333" type="text" value="">
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="button button-basic-blue" value="Submit">
        <input type="button" value="reset" />
    </div>
</form>

<form action="#" method="POST" class='form-horizontal form-bordered form-validate' id="bb">
    <div class="control-group">
        <div class="controls">
            <input type="text" name="textfield" id="textfield" class="input-xlarge" data-rule-required="true" data-rule-minlength="2">
        </div>
        <div class="controls">
            <input type="text" name="emailfield" id="emailfield" class="input-xlarge" data-rule-email="true" data-rule-required="true">
        </div>
    </div>

    <input type="submit" class="button button-basic-blue" value="Submit">
</form>


<input type="text" class="input-xlarge" name="textfield" id="textfield"  data-rule-required="true" data-rule-minlength="2">
<input type="text" class="input-xlarge" name="string333" id="string333"  data-val-required="aaa是必须的"   >
@html